/*TODO - criar as classes de elementos*/

body { 
	margin: 0; 
} 

html, body{
	background-color: #edf0f2;
	height: 100%;
	min-height: 100%; 
	overflow-y: hidden;
	overflow-x: hidden;
}

.form {
	height: 75%; 
	width: 50%;
	display:inline-block;
	position:relative;
	margin-left: 5%;
  	margin-top: 3%;
}

#actors {
	display: flex;
	/*width: 32%;*/
	flex-direction: column;
	max-height: 79%;
	margin-left:  3%;
	margin-right: 3%;
	margin-top:   3%;
	flex-grow: 2;
}

.second-form {
	display: flex;
	/*width: 32%;*/
	flex-direction: column;
	max-height: 79%;
	margin-left:  3%;
	margin-right: 3%;
	margin-top:   3%;
	flex-grow: 2;
}

.item-field-major {
	display: flex;
	/*min-width: 100%;*/
	flex-direction: row;
	/*flex-grow: 2;*/
	/*width: auto;
	display: block;*/
	margin-bottom: 3px;
	background-color: white;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}

.item-field-major span {
	flex-grow: 2;
}

.item-field {
	display: flex;
	/*min-width: 100%;*/
	flex-direction: row;
	/*flex-grow: 2;*/
	/*width: auto;
	display: block;*/
	margin-bottom: 3px;
	background-color: white;
}

.item-field span {
	flex-grow: 2;
}

#editor-tabs {
	display: flex;
	/*grid-template-columns: repeat(4, 1fr);*/
}

#editor-tabs button{
	height: 40%;
	width: 40%;
	background-color: grey;
}

#editor-tabs #tab-active {
	background-color: white;
}

#top-bar {
	display: flex;
	/*grid-template-columns: repeat(4, 1fr);*/
  	background-color: #344955;
  	/*height: 45px;*/

  	/*display shadow*/
  	/*-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);*/
}

#top-bar {
	height: 6%;
}

#top-bar button{
	height: 100%;
	width: 20%;
}

#lateral-bar{
	/*display: flex;
	justify-content: flex-start;
	flex-direction: column;*/
	width: 7%;
	height:     100%;
	min-height: 100%;
	background-color: #344955;
}

#lateral-bar button{
	width: 100%;
	height: 20%;
}
